---
name: Lint

on:
  pull_request:
  push:
    branches: ["main"]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: markdownlint-cli
        uses: nosborn/github-action-markdown-cli@v3.5.0
        with:
          files: .
          ignore_files: docs/*
          config_file: .markdownlint.yml
          dot: true

      - name: typos-action spellchecker
        uses: crate-ci/typos@v1.42.0

      - name: yamllint
        uses: ibiqlik/action-yamllint@v3
